name: Deploy to Cloudflare Pages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy to Cloudflare Pages
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: "humane-tracker/package-lock.json"

      - name: Install dependencies
        working-directory: ./humane-tracker
        run: npm ci

      - name: Run unit tests
        working-directory: ./humane-tracker
        run: npm run build:ci && npm run test-called-from-just

      - name: Build app
        working-directory: ./humane-tracker
        run: npm run build:ci

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: ./humane-tracker
          command: pages deploy dist --project-name humane-tracker --branch ${{ github.head_ref || github.ref_name }}
